h1, h2 {
  margin: 0
}

#container {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(0, 0, 0, .7)), url('../Images/basketball.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
}
