li {
  list-style: none;
  margin-top: 1rem;
}

#deleteGame:hover {
  cursor: pointer;
}

#mapInfo {
  text-align: center;
  margin: 0 2rem;
}

#mapsLink {
  color: red;
}

#schedule {
  text-align: left;
  margin-top: 2rem;
}

#signInActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}