@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.App {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1.5px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}

